// Couleurs basiques
$primary: #2b6cb0;
$light: #f2f4f7;

// Style global
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: $light;
}

//header 
header {
  background: white;
  padding: 1px;
  border-bottom: 2px solid $primary;

  h1 {
    margin: 0;
    color: $primary;
  }
}

// section principal 
section {
  padding: 2px;

  h2 {
    color: $primary;
    margin-top: 0;
  }
}

// footer 
footer {
  padding: 1px;
  text-align: center;
  background: white;
  border-top: 2px solid $primary;
}
