// Couleurs basiques
$fond: #2b6cb0;
$fond2: #f2f4f7;

// Style global
body {
  text-align: center;
  margin: 0;
  font-family: Arial, sans-serif;
  background: $fond2;
}

//header 
header {
  background: white;
  padding: 1px;

  h1 {
    margin: 0;
    color: $fond;
  }
}

// section principal 
section {
  padding: 2px;

  h2 {
    color: $fond;
  }
}

// footer 
footer {
  padding: 1px;
  text-align: center;
  background: white;
  border-top: 2px solid $fond2;
}
